/* –––––––––– COLORS –––––––––– */
div#pre, header.calc p:nth-of-type(1) a, header.tip p:nth-of-type(2) a {
	color: #fe9400;
}
body {
	background: #ffb751;
}
/* –––––––––– TEXT –––––––––– */
* {
    -webkit-font-smoothing: antialiased;
}
html, body, input, button {
	font-family: proxima-nova, sans-serif!important;
}
/* –––––––––– HEADER –––––––––– */
header {
	display: flex;
    flex-wrap: wrap;
}
header p {
    text-align: center;
    padding: 10px 0;
    width: 50%;
    display: inline-block;
}
header a {
    color: #787878;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 10px 0;
}
div#bar {
    height: 2px;
    background: #4b4b4b;
    position: relative;
    width: 100%;
}
.fill {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #fe9400;
    left: 0;
}
/* –––––––––– GENERAL –––––––––– */
#calculator {
    background: #1e1e1e;
    width: 100%;
    max-width: 260px;
    padding: 24px 24px 36px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.summary {
    padding: 70px 0 40px;
}
div#pre {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}
div#numbers, div#result {
    text-align: center;
    font-size: 56px;
    line-height: 56px;
    font-weight: 300;
    color: #fff;
}
/* –––––––––– CALCULATOR –––––––––– */
.calc-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-bottom: -2px;
}
button {
    width: 25%;
    height: 60px;
    border: 1px solid #1e1e1e;
    background: rgba(63,63,63,1);
    color: #fff;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
}
button:hover {
	background: rgba(63,63,63,0.8);
}
button.operator, button.equal {
    font-size: 26px;
}
button.negative, button.positive {
    font-size: 22px;
}
button.clear {
    font-size: 20px;
}
button.wide {
    width: 50%;
    text-align: right;
    padding: 0 24px;
}
button.light-gray {
	background: rgba(139,139,139,1);
}
button.light-gray:hover {
	background: rgba(139,139,139,0.85);
}
button.orange {
	background: rgba(254,148,0,1);
}
button.orange:hover {
	background: rgba(254,148,0,0.9);
}
button:focus {
    outline: none;
}
button.corner1 {
    border-radius: 8px 0 0 0;
}
button.corner2 {
    border-radius: 0 8px 0 0;
}
button.corner3 {
    border-radius: 0 0 0 8px;
}
button.corner4 {
    border-radius: 0 0 8px 0;
}
/* –––––––––– TIP HELPER –––––––––– */
.tip-container {
    margin-bottom: 20px;
}
.results {
    font-size: 20px;
    color: #a5a5a5;
    padding: 8px 5px;
}
.results span {
    float: right;
    color: #fff;
}
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: calc(100% - 50px);
    height: 8px;
    border: none;
    background-color: #4b4b4b;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe9400), color-stop(100%, #fe9400));
    background-image: -webkit-linear-gradient(#fe9400, #fe9400);
    background-image: -moz-linear-gradient(#fe9400, #fe9400);
    background-image: -o-linear-gradient(#fe9400, #fe9400);
    background-image: linear-gradient(#fe9400, #fe9400);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}
.form-field.padded {
    padding: 12px 0;
}
#percent-number, #people-number {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #fff;
    margin-left: 6px;
    width: 38px;
}
label {
	font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.75px;
	display: block;
    color: #787878;
    margin: 20px 0 10px;
}
input[type="number"] {
    width: 100%;
    border: none;
    height: 50px;
    font-size: 20px;
    border-radius: 3px;
    text-align: center;
    color: #1e1e1e;
}
input[type="number"]:focus {
    outline: none;
}
.symbol {
    position: absolute;
    font-size: 20px;
    line-height: 52px;
    padding: 0 65px 0 15px;
    background: linear-gradient(90deg, white 40%, transparent);
    color: #999;
    border-radius: 15px;
}
@media screen and (max-width: 575px) {
	#calculator {
	    background: transparent;
	    width: 100%;
	    max-width: 90vw;
	    padding: 24px 0 36px;
	    border-radius: 0;
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: translate(0,0);
	    margin: 0 auto;
	}
	body {
	    background: #1e1e1e;
	}
}
@media screen and (max-width: 320px) {

}